

.TodoListTemplate{

    width: 350px;
    padding: 50px 50px;             
    margin: 100px auto 0;                  /* https://comizle.tistory.com/28 설명 */
    background-color: white;    
    box-shadow: 8px 5px 10px #c1c0b9;   /* box-shadow 본래 크기 뒤에 생기는 그림자 */

    .app_header {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 4rem; 

        .data_area{
            display: flex;
            color: #333;
            font-family: "Bellota";

            .left_col{
                .day_area{
                    margin-right: 4.5px;
                    font-weight: 700;
                    font-size:40px
                }
            }

            .right_col{
                display: flex;
                flex-direction: column;
                justify-content: center;

                .month_area{
                    font-family: "Roboto";
                    font-size: 14px;
                }

                .year_area{
                    font-family: "Roboto";
                    line-height: 1;
                }
            }
        }

        .title {
            color : aqua;
            font: italic 600 35px "Roboto condensed";
            margin-right: 10px;
            letter-spacing: -0.5px;
        }
    }
}